﻿/*OGGETTI DA NASCONDERE*/

.fa-fa20.fas.fa-cubes {
    font-size: 22px !important;
}
.itemHidden {
    display: none !important;
}
a[role="button"] {
    cursor: pointer !important;
}

SPAN.headerL1 {
    font-size:20px!important;
}
SPAN.headerL2 {
    font-size: 18px !important;
}
SPAN.headerL3 {
    font-size: 16px !important;
}

body > .x-mask.policyblack {
    background-color: rgba(0, 0, 0, 1) !important;
}
.notopborder > div.x-panel-header-default {
    border-top: 0px !important;
}
.bottombutton SPAN.x-btn-inner-default-small {
    color: #606060 !important;
}
.budgetError .x-form-display-field-body .x-form-display-field {
    color: red !important;
    width: 80% !important;
    margin-left: 25px !important;
}
/*REGOLE PER LA MAIN PAGE*/
.rdadashboard .btn-toolbar-left, .rdadashboard .btn-toolbar-middle, .rdadashboard .btn-toolbar-right {
    background-color: #0C2340 !important;
    color: #fff !important;
}

    .rdadashboard .btn-toolbar-left:hover,
    .rdadashboard .btn-toolbar-middle:hover,
    .rdadashboard .btn-toolbar-right:hover {
        background-color: #008CC6 !important;
        color: #fff !important;
    }

.rdadashboard .btn-toolbar-left {
    border-top-left-radius: 10px !important;
    border-bottom-left-radius: 10px !important;
}

.rdadashboard .btn-toolbar-right {
    border-top-right-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
}

.rdadashboard .x-btn-pressed {
    background-color: #008CC6 !important;
}


.rdadashboard .subheadermenu a.btn-toolbar-left,
.rdadashboard .subheadermenu a.btn-toolbar-middle,
.rdadashboard .subheadermenu a.btn-toolbar-right {
    background-color: #B6B6B6 !important;
    color: #fff !important;
}
.rdadashboard .subheadermenu a.x-btn-pressed {
    background-color: #0079ac!important;
}
.rdadashboard .x-docked-bottom a.x-btn-pressed {
    background-color: #d3d3d3 !important;
}
.rdadashboard .x-docked-bottom a.x-btn-over,
.rdadashboard .x-docked-bottom a.x-btn-focus {
    border-color: #c7c5c8 !important;
    box-shadow: 0px 0px 0px #888888!important;
}


.rdadashboard .subheadermenu .btn-toolbar-left:hover,
.rdadashboard .subheadermenu .btn-toolbar-middle:hover,
.rdadashboard .subheadermenu .btn-toolbar-right:hover {
    background-color: #027db0 !important;
    color: #fff !important;
}




/*SEZIONE PER LE PROJECT CARD*/
/*HOME*/
/*WORKLIST*/
.projectCard {
    /*margin: 0px -2px;*/
    border: 1px solid #c8c8c8 !important;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background-color: #f5f5f5a1;
}

    .projectCard:hover {
        cursor: pointer;
        background-color: #f8cf2c3b;
    }

.projectCard > div {
    padding: 5px;
}

.projectCard .projectTitle {
    position: inherit;
    font-style: italic;
    font-weight: bold;
    color: #008CC6;
    font-size: 14px;
    white-space: pre-line;
}

.projectCard .headerTitle {
    margin-top: 15px;
    margin-bottom: 3px;
    font-weight: 600;
    color: #666666;
    border-bottom: 1px solid #666666;
}

.projectCard .rdastatuslist {
    /*display: flex;
        justify-content: space-between;*/
    display: table;
    width: 100%;
}

    .projectCard .rdastatuslist div {
        padding-top: 10px;
        text-align: left;
        font-weight: 400;
        font-size: 13px;
        width: 50%;
        float: left;
    }

    .projectCard .rdastatuslist i.highdelay, .rdaCard .rdaCode i.highdelay {
        /*color: #a10000;*/
        color:#d51616;
    }
        .projectCard .rdastatuslist i.highdelay:before, .rdaCard .rdaCode i.highdelay:before {
            content: '\f111' !important;
            color: #d51616;
        }

    .projectCard .rdastatuslist i.middledelay, .rdaCard .rdaCode i.middledelay {
        /*color: #b27300;*/
        color: #d1ad35;
    }
        .projectCard .rdastatuslist i.middledelay:before, .rdaCard .rdaCode i.middledelay:before {
            content: '\f111' !important;
            color: #d1ad35;
        }

    .projectCard .rdastatuslist i.lessdelay, .rdaCard .rdaCode i.lessdelay {
        /*color: #018a00;*/
        color: #20a01f;
    }
        .projectCard .rdastatuslist i.lessdelay:before, .rdaCard .rdaCode i.lessdelay:before {
            content: '\f111' !important;
            color: #20a01f;
        }


    .projectCard .rdastatuslist div .rdanumber {
        font-weight: 600;
        margin-left: 5px;
    }
    div .x-grid-item-selected .x-grid-cell .projectCard {
        background-color: #f8cf2cb8 !important;
    }


/* GRIGLIA A CARD */
/*PROJECTLIST*/
.gridCardList table.x-grid-item-alt {
    background-color: #fff !important;
}

.gridCardList .x-grid-with-row-lines .x-grid-item {
    border: none !important;
    background-color: #fff !important;
}

.gridCardList .x-grid-item-focused .x-grid-cell-inner:before {
    display: none !important;
}

.gridCardList .x-menu-item.rdasubmenuitem > a.x-menu-item-link > span, .x-menu-item.rdasubmenuitem > a.x-menu-item-link > div {
    color: #0C2340 !important;
}

.gridCardList .x-menu-item.rdasubmenuitem.x-focus > a.x-menu-item-link > span, .x-menu-item.rdasubmenuitem.x-focus > a.x-menu-item-link > div {
    color: #fff !important;
}

/*.rdalinkbutton.x-btn-default-small {
    background-color: #008cc6;
    color: white;
    min-width: 100px;
    max-width: 120px;
    border-radius: 6px;
    border:0px!important;
    cursor: pointer !important;
}*/

.rdalinkbutton.x-btn-default-small {
    background-color: white;
    color: #0186bc;
    min-width: 100px;
    /*width: 100%;*/
    border-radius: 6px;
    border: 1px solid !important;
    cursor: pointer !important;
    font-weight:500;
}

.rdalinkbutton.material.x-btn-default-small {
    color: #00425e;
    /*background-color: #274d73;
    color: white;
    width: 100%;
    border-radius: 6px;*/
}

.headerProjectLabel {
    font-weight: 500;
    color: #008cc6;
}
.divtotal {
    position: absolute;
    right: 5px;
    top: 0px;
    font-size: 14px;
    color: #008cc6;
}
    .divtotal .labelTotal {
        font-weight: 500;
        margin-right: 5px;
    }
    .divtotal .valueTotal {

    }


.pagingToolbarButton .fa-check {
    color: #009b03;
}

.pagingToolbarButton .fa-cloud-upload-alt {
    color: #007acc;
}

.basicgrid .x-box-inner {
    /*background-color: #f5f5f5!important;
    background-color: #fff !important;*/
    background-color: transparent !important;
}

.basicgrid .x-box-inner .fa-exclamation-triangle{
    color: #e60000!important;
}

.basicgrid .fa-ban,
.pagingToolbarButton .fa-times,
.pagingToolbarButton .fa-ban {
    color: #d51616;
}



.pagingToolbarButton .fa-save {
    color: #008CC6;
}

.basicgrid .x-btn-icon-el.x-tbar-loading,
.basicgrid .fa-sync-alt, .basicgrid .fa-share-alt,.basicgrid .fa-road {
    color: #023db5 !important;
}


.basicgrid .x-grid-with-row-lines .x-grid-item {
    border-width: 0px !important;
    border-color: #d3d3d3 !important;
    border-bottom-width: 1px !important;
}

.basicgrid .gridcolname {
    font-weight: 500 !important;
    color: #0c2340 !important;
}

.basicgrid .x-grid-td {
    vertical-align: middle !important;
}

.basicgrid .fa-pencil-alt {
    color: #d0ad00 !important;
}

.basicgrid .fa-plus,
.basicgrid .fa-user-plus {
    color: #008cc6 !important;
}
.basicgrid .fa-save {
    color: #20a01f !important;
}
.basicgrid .fa-trash-alt {
    color: #C10202 !important;
}

.basicgrid .fa-ban {
    color: #C10202 !important;
}
.basicgrid .fa-sync-alt {
    color: #008CC6 !important;
}
.basicgrid .x-btn-inner-default-toolbar-small {
    color: #0378a9 !important;
    font-weight:600;
}
.fa-sync-alt {
    color: #008CC6 !important;
}
/*WORKFLOW*/
.modal-confirm {
    color: #636363;
    width: 100%;
    text-align:center!important;
    padding: 0px 40px!important;
}

    .modal-confirm .modal-content {
        /*padding: 13px;*/
        border-radius: 5px;
        border: none;
        text-align: center;
        font-size: 14px;
    }

    .modal-confirm .modal-header {
        border-bottom: none;
        position: relative;
        /*height:100px;*/
    }

    .modal-confirm .x-toolbar-footer {
        border: 0px !important;
        
    }


.modal-confirm .modal-title {
    text-align: center;
    font-size: 20px;
    margin: 20px 0 20px;
    font-weight: 600;
}
    .modal-confirm .modal-label {
        text-align: left;
        font-size: 13px;
        font-weight: 400;
        color: #274d73;
        font-style: italic;
    }


    .modal-confirm .close {
        position: absolute;
        top: -5px;
        right: -2px;
    }

    .modal-confirm .modal-body {
        color: #333333;
        margin: 0px 0 10px;
        text-align: center!important;
        align-content:center!important;
    }

        .modal-confirm .modal-body .x-form-trigger-wrap-default {
            /*border:0px!important;*/
        }

        .modal-confirm .modal-body .x-progress-text-back {
            color: #0c2340;
            font-weight: 600;
        }
        .modal-confirm .modal-body.w80 {
            width:80%!important;
        }
        .modal-confirm .modal-body .x-form-text-default.x-form-textarea {
            border-radius:10px!important;
        }
        

        .invalid > div > div {
            border:1px solid red!important;
        }
        div.x-form-trigger-wrap-focus {
            box-shadow:none!important;
        }


.colHeaderText .x-column-header-text {
    font-weight: 500;
    color: #008CC6;
}
.colSubHeaderText .x-column-header-text {
    font-weight: 400 !important;
    text-align: center;
    color: #245491;
    
}

.colSubHeaderStandard .x-column-header-text {
    font-weight: 400 !important;
    text-align: center;
    color: #245491;
}




.approve div.x-progress-bar {
    background-color: #0db900 !important;
}
.reject div.x-progress-bar {
    background-color: #e34343 !important;
}
.export div.x-progress-bar {
    background-color: #0c7238 !important;
}

.share div.x-progress-bar {
    background-color: #00359c !important;
}

.redLabel {
    color:red!important;
}


.modal-confirm .modal-footer {
    border: none;
    text-align: center;
    border-radius: 5px;
    font-size: 13px;
    /*padding: 10px 15px 25px;*/
}

        .modal-confirm .modal-footer a {
            color: #999;
        }

    .modal-confirm .icon-box {
        width: 80px;
        height: 80px;
        margin: 0 auto;
        border-radius: 50%;
        z-index: 9;
        text-align: center;
        
    }

        .modal-confirm .icon-box i {
            font-size: 46px;
            display: inline-block;
            margin-top: 13px;
        }

        .modal-confirm .icon-box.approve {
            border: 3px solid #0db900;
        }
            .modal-confirm .icon-box.approve i {
                color: #0db900;
            }

        .modal-confirm .icon-box.share {
            border: 3px solid #00256f;
        }

            .modal-confirm .icon-box.share i {
                color: #00256f;
                margin-left: -6px;
                margin-top: 15px;
            }





        .modal-confirm .icon-box.reject {
            border: 3px solid #d51616;
        }
            .modal-confirm .icon-box.reject i {
                color: #d51616;
            }

		.modal-confirm .icon-box.export {
            border: 3px solid #0c7238;
        }
            .modal-confirm .icon-box.export i {
                color: #0c7238;
            }
			
    .modal-confirm .btn {
        color: #fff;
        border-radius: 4px;
        background: #60c7c1;
        text-decoration: none;
        transition: all 0.4s;
        line-height: normal;
        min-width: 120px!important;
        border: none;
        min-height: 40px;
        border-radius: 3px;
        margin: 0 5px;
        outline: none !important;
    }
        .modal-confirm .btn .x-btn-inner-default-small {
            padding:5px!important;
        }

.modal-confirm .btn-info {
    background: #407abf;
    cursor: pointer;
}

    .modal-confirm .btn-info:hover, .modal-confirm .btn-info:focus, .modal-confirm .btn-info.x-btn-disabled {
        background: #115bb4 !important;
    }



    .modal-confirm .btn-danger {
        background-color: #d51616!important;
        cursor: pointer;
    }

        .modal-confirm .btn-danger:hover, 
        .modal-confirm .btn-danger:focus,
        .modal-confirm .btn-danger.x-btn-disabled {
            background-color: #f82c2c !important;
        }

    .modal-confirm .btn-success {
        background: #0db900;
        cursor: pointer;
    }

        .modal-confirm .btn-success:hover, .modal-confirm .btn-success:focus,.modal-confirm .btn-success.x-btn-disabled {
            background: #0da402;
        }
		
		.modal-confirm .btn-export {
        background: #0c7238;
        cursor: pointer;
    }

			.modal-confirm .btn-export:hover, .modal-confirm .btn-pressed:focus,.modal-confirm .btn-export.x-btn-disabled {
                background: #129652!important;
            }


.modal-confirm .btn-close {
    background: #00256f;
    cursor: pointer;
}

    .modal-confirm .btn-close:hover, .modal-confirm .btn-pressed:focus, .modal-confirm .btn-close.x-btn-disabled {
        background: #003194 !important;
    }


.modal-confirm .btn-abort {
    background: #868686;
    cursor: pointer;
}

    .modal-confirm .btn-abort:hover, 
	.modal-confirm .btn-abort:focus,
	.modal-confirm .btn-abort.x-btn-disabled	{
        background: #707070!important;
    }


.modal-confirm .btn-share {
    background: #00256f;
    cursor: pointer;
}
	modal-confirm .btn-share:hover, 
    .modal-confirm .btn-share:hover, 
	.modal-confirm .btn-share.x-btn-disabled {
        background: #00359c!important;
    }


.trigger-btn {
    display: inline-block;
    margin: 100px auto;
}

.modal-subbody {
    /* margin-bottom: 15px; */
    width: 80%;
    padding: 5px 0px;
    margin: 0 auto;
}
    .modal-subbody label {
        font-weight: normal;
        width: 100%;
        float: left;
        margin: 0 auto;
    }

    .modal-subbody textarea {
        resize: none;
        width: 80%;
        height:80px!important;
    }
/* do not group these rules */
*::-webkit-input-placeholder {
    color: red;
}

*:-moz-placeholder {
    /* FF 4-18 */
    color: #B6B6B6;
    opacity: 0.8;
}

*::-moz-placeholder {
    /* FF 19+ */
    color: #B6B6B6;
    opacity: 0.8;
}

*:-ms-input-placeholder {
    /* IE 10+ */
    color: #B6B6B6;
    opacity: 0.8;
}

*::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #B6B6B6;
    opacity: 0.8;
}

*::placeholder {
    /* modern browser */
    color: #B6B6B6;
    opacity: 0.8;
}



.messageboxforerror .x-window-header-default {
    background-color: #9a0000 !important;
    border: 0px !important;
}
.messageboxforerror .x-message-box-error {
    color: #9a0000 !important;
}
.messageboxforerror .x-btn-default-small {
    background-color: #919191 !important;
    border-color: #919191!important;
}

.toastforerror {
    background-color: #ffffff !important;
    border: 2px solid #9a0000 !important;
    color: #9a0000 !important;
}
.messageboxforerror.x-window-default {
    background-color: transparent !important;
}
/*.multirowcol .x-grid-cell{
    white-space:normal!important;
}*/

.x-grid-cell-inner > .multirowcol {
    white-space: normal !important;
    margin: -6px -10px;
    
    padding: 5px;
    /*text-overflow: ellipsis;
    display: block;*/
}
.x-grid-cell-inner > .multirowcol.inerror {
    color:red!important;
}

    .x-grid-cell-inner .divtable {
        line-height:35px!important;
    }
    .x-grid-cell-inner div.border {
        border-top: 1px solid #d3d3d3;
    }
.x-grid-cell-inner .divtable > a {
    margin-top: 4px;
    background: none;
    border: 0px !important;
    padding-right: 2px !important;
    min-width: 25px !important;
    max-width: 25px !important;
}
    
.x-grid-cell-inner div.border > a {
    margin-top: 4px !important;
    background: none;
    border: 0px !important;
}
i.greenflag {
    color: #20a01f;
}
i.yellowflag {
    color: #d1ad35;
}
i.redflag {
    color: #C10202;
}
i.grayflag {
    color: #666666;
}


/*element.style {
    background: none;
    color: #008cc6;
    border: 0px solid #008cc6;
}*/

.tableRoleUsers {
    width:90%;
}
    .tableRoleUsers .rolecell {
        width: 70px;
        vertical-align: top;
        /* text-align: right; */
        padding-right: 6px;
        color: #008cc6;
        font-weight: 600;
        font-style: italic;
    }

    .tableRoleUsers .usercell {
    }
	
a.x-btn.pagingToolbarButton.white {
    background-color: #fff!important;
    width: calc(100% - 30px);
}
	
		
a.x-btn.pagingToolbarButton.white.x-btn-over {
    background-color: #fffccf!important;
    
}
a.x-btn.pagingToolbarButton.white.x-btn-over.x-btn-pressed {
    background-color: #fbfe7e!important;
    
}
.pagingToolbarButton .fa-file-excel {
    color: #0c7238 !important;
}

.gridCardList.cardwithbbar div.x-docked-bottom {
    border-top: 1px solid #d0d0d0!important;
    background-color: #f5f3f3;
}

.gridPopupList.cardwithbbar div.x-docked-bottom {
    border-top: 1px solid #d0d0d0 !important;
    background-color: #f5f3f3;
}

.wfapprover table {
    width: auto !important;
}

    .wfapprover table TD {
        padding-right: 10px;
    }

.wfapprover label {
    font-weight: 400 !important;
}

.wfapprover table {
    width: auto !important;
    font-weight: 400!important;
}

    .wfapprover table .x-form-radio-default {
        color: #af0000!important;
    }


.x-grid-header-ct {
    background-color: #f5f5f5!important;
}

.spaninheader {
    position: relative;
    top: -4px;
}