﻿/*OGGETTI DA NASCONDERE*/
.itemHidden {
    display: none !important;
}
a[role="button"] {
    cursor:pointer!important;
}

body > .x-mask.policyblack {
    background-color: rgba(0, 0, 0, 1) !important;
}


div.policy-win div.policy-content {
    height: 100vh !important;
    background-image: url(../images/policy_back.png);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 180px;
    background-color: #fff;
}

    div.policy-win div.policy-content div {
        background-color: transparent;
    }

    div.policy-win div.policy-content p {
        color: white;
        line-height: 30px;
        text-align: justify;
        padding: 25px;
        font-size: 15px;
        color: #1f4973;
        font-weight: 500;
        padding-top: 170px;
        /* font-style: italic; */
    }
.btn-danger.policy {
    background-color: #008CC6 !important;
    border-color: #008CC6 !important;
}
    .btn-danger.policy:hover {
        background-color: #248a24 !important;
        border-color: #248a24 !important;
    }

div.policy-win div.x-statusbar {
    background-color: #eee;
    border-top: 1px solid #ada7a7 !important;
}


/*REGOLE PER LA milestonealertdashboard*/
.rdadashboard .btn-toolbar-left, .rdadashboard .btn-toolbar-middle, .rdadashboard .btn-toolbar-right {
    background-color: #0C2340 !important;
    color: #fff !important;
}
    .rdadashboard .btn-toolbar-left:hover,
    .rdadashboard .btn-toolbar-middle:hover,
    .rdadashboard .btn-toolbar-right:hover {
        background-color: #008CC6 !important;
        color: #fff !important;
    }

.rdadashboard .btn-toolbar-left {
    border-top-left-radius: 10px!important;
    border-bottom-left-radius: 10px!important;
}
.rdadashboard .btn-toolbar-right {
    border-top-right-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
}
.rdadashboard .x-btn-pressed {
    background-color: #008CC6 !important;
}

.rdahomeview .x-panel-header-default {
    padding:10px 16px!important;
}



.rdahomeview .projectCard {
    /*margin: 0px -2px;*/
    border: 1px solid #c8c8c8 !important;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background-color: #f5f5f5a1;
}

    .rdahomeview .projectCard:hover {
        cursor: pointer;
        background-color: #f8cf2c3b;
    }


.rdahomeview .projectCard > div{
    padding: 5px;
}

    .rdahomeview .projectCard .projectTitle {
        position: inherit;
        font-style: italic;
        font-weight: bold;
        color: #008CC6;
        font-size: 14px;
        white-space: pre-line;
    }

    .rdahomeview .projectCard .headerTitle {
        margin-top: 15px;
        margin-bottom: 3px;
        font-weight: 600;
        color: #666666;
        border-bottom: 1px solid #666666;
    }
    .rdahomeview .projectCard .rdastatuslist {
        /*display: flex;
        justify-content: space-between;*/
        display:table;
        width:100%;
            
    }
    
        .rdahomeview .projectCard .rdastatuslist div {
            padding-top:10px;
            text-align: left;
            font-weight: 400;
            font-size: 13px;
            width:50%;
            float:left;
        }
        .rdahomeview .projectCard .rdastatuslist i.fa-frown, .rdahomeview .rdaCard .rdaCode i.fa-frown {
            color: #a10000;
        }
        .rdahomeview .projectCard .rdastatuslist i.fa-meh, .rdahomeview .rdaCard .rdaCode i.fa-meh {
            color: #b27300;
        }
        .rdahomeview .projectCard .rdastatuslist i.fa-smile, .rdahomeview .rdaCard .rdaCode i.fa-smile {
            color: #018a00;
        }

.rdahomeview div .x-panel-header-default-framed-top {
    border-left-width: 1px !important;
    border-right-width: 1px !important;
}

.rdahomeview  div.x-grid-body {
    border-width: 0px;
}
.notopborder > div.x-panel-header-default {
    border-top: 0px !important;
}

.rdaCode i {
    position: fixed;
    z-index: 9999;
    margin-top: 2px;
    cursor: help;
}
.rdaCode span {
    margin-left:18px!important;
}


.rdahomeview .projectCard .rdastatuslist div .rdanumber {
    font-weight: 600;
    margin-left: 5px;
}

.rdahomeview .projectList table.x-grid-item-alt {
    background-color: #fff !important;
}
.rdahomeview .projectList .x-grid-with-row-lines .x-grid-item {
    border: none !important;
    background-color: #fff !important;
}
.rdahomeview .projectList .x-grid-item-focused .x-grid-cell-inner:before {
    display: none !important;
}

.rdahomeview .projectList .x-grid-item-selected .x-grid-cell .projectCard {
    background-color: #f8cf2cb8 !important;
}

.x-menu-item.rdasubmenuitem > a.x-menu-item-link > span, .x-menu-item.rdasubmenuitem > a.x-menu-item-link > div {
    color: #0C2340 !important;
}
.x-menu-item.rdasubmenuitem.x-focus > a.x-menu-item-link > span, .x-menu-item.rdasubmenuitem.x-focus > a.x-menu-item-link > div {
    color: #fff !important;
}


.rdahomeview .rdaCard {
    border: 1px solid #c8c8c8 !important;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #f5f5f5a1;
}

    /*.rdahomeview .rdaCard:hover {
        cursor: pointer;
        background-color: #f8cf2c3b;
    }*/


.rdahomeview .rdaCard.ALFA{
    position:relative;
}
    .rdahomeview .rdaCard.ALFA::after {
        content: '';
        background: url(../images/alfa.png) no-repeat;
        top: 0;
        position: absolute;
        opacity: 0.1;
        width: 100%;
        background-size: 68%;
        height: 100%;
        background-position: 178% 10%;
    }


    .rdahomeview .rdaCard.MASERATI {
        position: relative;
    }

        .rdahomeview .rdaCard.MASERATI::after {
            content: '';
            background: url(../images/maserati.png) no-repeat;
            top: 0;
            position: absolute;
            opacity: 0.1;
            width: 100%;
            background-size: 68%;
            height: 100%;
            background-position: 170% 10%;
        }

    .rdahomeview .rdaCard .rdaCorderTopRight {
        position: absolute;
        top: 4px;
        right: 9px;
        color: #0c2340;
        font-weight: 500;
        font-size:22px;
    }
        .rdahomeview .rdaCard .rdaCorderTopRight .view {
            color: #0c2340;
        }
        .rdahomeview .rdaCard .rdaCorderTopRight .approve {
            color: #007748;
        }
            .rdahomeview .rdaCard .rdaCorderTopRight .approve.discard {
                opacity: 0.4;
                pointer-events: none;
                color: #666666;
            }
            .rdahomeview .rdaCard .rdaCorderTopRight .approve.noaction {
                display: none;
            }
        .rdahomeview .rdaCard .rdaCorderTopRight .reject {
            color: #ca2331;
        }
            .rdahomeview .rdaCard .rdaCorderTopRight .reject.discard {
                opacity: 0.4;
                pointer-events: none;
                color: #666666;
            }
            .rdahomeview .rdaCard .rdaCorderTopRight .reject.noaction {
                display:none;
            }
   

    .rdahomeview .rdaCard .header, .rdahomeview .rdaCard .rdadetails {
        display: table;
        clear: both;
        width: 100%
    }

    .rdahomeview .rdaCard .header {
        border-bottom: 1px solid #d7d4d4;
        padding:5px 5px 0px 5px;
    }
        .rdahomeview .rdaCard .header .rdaBrand {
            float: left;
            width: 50px;
            height: 40px;
        }
        .rdahomeview .rdaCard .header .rdaBrand-ALFA {
            background-image: url(../images/alfa.png);
            background-size: 35px;
            background-repeat: no-repeat;
            display: inline-block;
            width: 50px;
            height: 50px;
            content: "";
            float: left;
            background-position: center;
        }
        .rdahomeview .rdaCard .header .rdaBrand-MASERATI {
            background-image: url(../images/maserati.svg);
            background-size: 35px;
            background-repeat: no-repeat;
            display: inline-block;
            width: 50px;
            height: 50px;
            content: "";
            float: left;
            background-position: center;
        }

        .rdahomeview .rdaCard .header .rdaInfo .rdaCode {
            font-weight: 600;
            color: #008CC6;
            font-size: 14px;
        }
        .rdahomeview .rdaCard .header .rdaInfo .rdaTitle {
            font-size: 11px;
            color: #333333;
            font-weight: 500;
            white-space: pre-line;
            
        }
        .rdahomeview .rdaCard .header .rdaInfo a[role="button"] {
            z-index:9999;
        }
    .rdahomeview .rdaCard .rdadetails {
        padding: 0px 5px;
    }
        .rdahomeview .rdaCard .rdadetails div {
            float: left;
            width: 50%;
            
        }
        .rdahomeview .rdaCard .rdadetails fullwidth {
            width: 100%!important;
        }


.rdahomeview .rdaCard .rdadetails .rdalabel {
    /*width: 100%;*/
    display: block;
    color: #0C2340;
    font-size: 12px;
    font-weight: 500;
}
        .rdahomeview .rdaCard .rdadetails .rdavalue {
            color: #333333;
            font-size: 13px;
            font-style: italic;
            position: relative;
            top: -4px;
            white-space: pre-line;
        }
            
        .rdahomeview .rdaCard .rdadetails .rdavalue:empty::after {
            content:'n.d.'
        }



/*.milestonealertdashboard div.x-panel-header-default, div.x-panel-header-default-vertical {
    background-color: #EBEBEB;
    border-color: #B6B6B6;
}

.milestonealertdashboard div.x-panel-header-title-default, div.x-tool-expand-right {
    color: #0C2340;
}

.milestonealertdashboard div.x-panel-header-title-default, div.x-tool-collapse-left {
    color: #0C2340;
}

.milestonealertdashboard div.x-title-icon {
    color: #0C2340 !important;
}


.milestonealertdashboard div.x-panel-default-outer-border-trbl {
    border: 0px !important;
}


.milestonealertdashboard a.btn-toolbar-left, .milestonealertdashboard a.btn-toolbar-right {
    background-color: #0C2340 !important;
}

.milestonealertdashboard div.x-panel-header-default-horizontal.x-header-noborder {
    padding: 10px 16px 10px 16px;
}


.milestonealertdashboard table.x-grid-item-alt {
    background-color: #F2F1F0 !important;
}
.milestonealertdashboard table.x-grid-item-alt:hover {
    background-color: #ffefbb!important;
}


.milestonealertdashboard div.x-grid-with-row-lines .x-grid-item {
    border-color: #B6B6B6 !important;
}


.milestonealertdashboard .alert-dashboard.x-panel-default {
    border: 1px solid #B6B6B6;
    border-top: 0px;
}
.milestonealertdashboard .mstpdashboardfilter {
    height: 100% !important;
    border-top: 1px solid;
    margin-top: 0px;
}

    .milestonealertdashboard .mstpdashboardfilter.x-panel-default {
        border-color: #B6B6B6;
    }

    .milestonealertdashboard .mstpdashboardfilter .x-panel-bodyWrap {
        height: 100% !important;
    }

        .milestonealertdashboard .mstpdashboardfilter .x-panel-bodyWrap > div {
            height: 100% !important;
        }

    .milestonealertdashboard .mstpdashboardfilter .x-form-item-label, .mstpdashboardfilter .x-form-item-body {
        display: inline;
    }

    .milestonealertdashboard .mstpdashboardfilter .x-form-item-label-inner {
        font-weight: 600;
        width: 100% !important;
        color: #0C2340;
        border-bottom: 1px solid #B6B6B6;
    }

    .milestonealertdashboard .mstpdashboardfilter .x-table-plain {
        margin-left: 10px;
    }

    .milestonealertdashboard .mstpdashboardfilter .x-form-checkboxgroup {
        width: 100% !important;
    }

        .milestonealertdashboard .mstpdashboardfilter .x-form-checkboxgroup > div > div {
            overflow-y: auto !important;
            max-height: calc(20vh - 80px);
        }


.milestonealertdashboard .milestonealertgrid div.x-grid-body {
    border: 0px;
}
.milestonealertdashboard .alertComponentMilestone {
    display: flex;
    justify-content: space-evenly;
}

    .milestonealertdashboard .alertComponentMilestone div {
        padding: 5px;
        width: 45px;
        text-align: center;
    }

.milestonealertdashboard .headerTitle {
    margin-top: 15px;
    margin-bottom: 3px;
    font-weight: 600;
    color: #274d73;
    border-bottom: 1px solid;
}

.milestonealertdashboard div.active_true {
    background-color: #008CC6;
    color: white;
    font-weight: bold;
    cursor: help;
}

.milestonealertdashboard .active_false {
    opacity: 0.7;
}

.milestonealertdashboard .alertComponent {
    color: #000;
}

.milestonealertdashboard .alertComponentCmp {
    margin: 5px 0;
}

.milestonealertdashboard .alertComponentProj {
    font-weight: bold;
    margin: 5px 0;
}

.milestonealertdashboard .alertComponent .projectTitle {
    position: inherit;
    text-align: right;
    font-style: italic;
    font-weight: bold;
    color: #0C2340;
    font-size: 18px;
}

.milestonealertdashboard .alertComponent .cardRow div {
    display: inline-block;
}


.milestonealertdashboard .alertComponent .cardRowHeader {
    width: 100%;
    margin-top: 2px;
    font-size: larger;
    font-weight: 600;
    color: #666666;
    text-transform: capitalize;
    margin-bottom: 2px;
}

.milestonealertdashboard .alertComponent .cardColumnlbl {
    text-align: right;
    width: 70px;
    margin-top: 5px;
}

.milestonealertdashboard .alertComponent .cardColumn {
    width: calc(50% - 70px);
    margin-top: 5px;
}


.milestonealertdashboard .alertComponent .cardColumnlbl SPAN {
    font-weight: 500;
    font-style: italic;
    color: #274d73;
    margin-right: 5px;
}

.milestonealertdashboard .alertComponent .cardRow:after {
    content: "";
    display: table;
    clear: both;
}


.milestonealertdashboard .alert-dashboard .x-grid-body {
    border-style: none !important;
}

.milestonealertdashboard .alert-dashboard .x-grid-item-selected {
    background-color: #f8cf2cb8 !important;
}*/