﻿.rdahomeview .x-panel-header-default {
    padding:10px 16px!important;
}

.rdahomeview > div > div > .x-panel-header-default-framed-top {
    border-left-width: 1px !important;
    border-right-width: 1px !important;
    cursor:pointer!important;
    
}

.rdahomeview div.x-grid-body {
    border-width: 0px;
}


.rdahomeview .rdaCode i {
    position: fixed;
    z-index: 9999;
    margin-top: 2px;
    cursor: help;
}
.rdahomeview .rdaCode span {
    margin-left: 18px !important;
}


.rdahomeview .rdaCard {
    border: 1px solid #c8c8c8 !important;
    border-radius: 10px;
    background-color: #f5f5f5a1;
}

    .rdahomeview .rdaCard:hover {
        /*cursor: pointer;*/
        background-color: #f8cf2c3b;
    }


.rdahomeview .rdaCard.ALFA{
    position:relative;
}
    .rdahomeview .rdaCard.ALFA::after {
        content: '';
        background: url(../images/alfa.png) no-repeat;
        top: 0;
        position: absolute;
        opacity: 0.1;
        width: 100%;
        background-size: 68%;
        height: 100%;
        background-position: 178% 10%;
    }


    .rdahomeview .rdaCard.MASERATI {
        position: relative;
    }

        .rdahomeview .rdaCard.MASERATI::after {
            content: '';
            background: url(../images/maserati.png) no-repeat;
            top: 0;
            position: absolute;
            opacity: 0.1;
            width: 100%;
            background-size: 68%;
            height: 100%;
            background-position: 170% 10%;
        }

    .rdahomeview .rdaCard .rdaCorderTopRight {
        position: absolute;
        top: 4px;
        right: 9px;
        color: #0c2340;
        font-weight: 500;
        font-size:22px;
    }
        .rdahomeview .rdaCard .rdaCorderTopRight .view {
            color: #0c2340;
        }
        .rdahomeview .rdaCard .rdaCorderTopRight .approve {
            color: #007748;
        }
            .rdahomeview .rdaCard .rdaCorderTopRight .approve.discard {
                opacity: 0.4;
                pointer-events: none;
                color: #666666;
            }
            .rdahomeview .rdaCard .rdaCorderTopRight .approve.noaction {
                display: none;
            }
        .rdahomeview .rdaCard .rdaCorderTopRight .reject {
            color: #ca2331;
        }
            .rdahomeview .rdaCard .rdaCorderTopRight .reject.discard {
                opacity: 0.4;
                pointer-events: none;
                color: #666666;
            }
            .rdahomeview .rdaCard .rdaCorderTopRight .reject.noaction {
                display:none;
            }
   

    .rdahomeview .rdaCard .header, .rdahomeview .rdaCard .rdadetails {
        display: table;
        clear: both;
        width: 100%
    }

    .rdahomeview .rdaCard .header {
        border-bottom: 1px solid #d7d4d4;
        padding:5px 5px 5px 5px;
    }
        .rdahomeview .rdaCard .header .rdaBrand {
            float: left;
            width: 50px;
            height: 40px;
        }
        .rdahomeview .rdaCard .header .rdaBrand-ALFA {
            background-image: url(../images/alfa.png);
            background-size: 35px;
            background-repeat: no-repeat;
            display: inline-block;
            width: 50px;
            height: 50px;
            content: "";
            float: left;
            background-position: center;
        }
        .rdahomeview .rdaCard .header .rdaBrand-MASERATI {
            background-image: url(../images/maserati.svg);
            background-size: 35px;
            background-repeat: no-repeat;
            display: inline-block;
            width: 50px;
            height: 50px;
            content: "";
            float: left;
            background-position: center;
        }

        .rdahomeview .rdaCard .header .rdaInfo .rdaCode {
            font-weight: 600;
            color: #008CC6;
            font-size: 14px;
        }
        .rdahomeview .rdaCard .header .rdaInfo .rdaTitle {
            font-size: 11px;
            color: #333333;
            font-weight: 500;
            white-space: pre-line;
            
        }
        .rdahomeview .rdaCard .header .rdaInfo a[role="button"] {
            z-index:9999;
        }
    .rdahomeview .rdaCard .rdadetails {
        padding: 0px 5px;
    }
        .rdahomeview .rdaCard .rdadetails div {
            float: left;
            width: 50%;
            
        }
        .rdahomeview .rdaCard .rdadetails fullwidth {
            width: 100%!important;
        }


.rdahomeview .rdaCard .rdadetails .rdalabel {
    /*width: 100%;*/
    display: block;
    color: #0C2340;
    font-size: 12px;
    font-weight: 500;
}
        .rdahomeview .rdaCard .rdadetails .rdavalue {
            color: #333333;
            font-size: 13px;
            font-style: italic;
            position: relative;
            top: -4px;
            white-space: pre-line;
        }
            
        .rdahomeview .rdaCard .rdadetails .rdavalue:empty::after {
            content:'n.d.'
        }

.rdahomeview .x-grid-with-row-lines .x-grid-item {
    border-style: solid;
    border-width: 1px 0 0 !important;
    border-color: #cae1f4 !important;
}

.homeFilter > div {
    cursor:pointer!important;
}

.rdahomefilter .x-panel-body-default {
    background-color: #f9f9f9 !important;
}

.rdahomefilter table td > div {
    width: calc(100% - 20px) !important;
    background-color:transparent!important;
}
.rdahomefilter .filterfield > label {
    display: inline-block;
    margin-top: -5px !important;
    font-weight: 500;
    
}
    .rdahomefilter .filterfield > div {
        display: inline-block;
        width: 100%;
        float: left;
        margin-top: -8px;
        background-color: transparent !important;
    }
    div.buttonFilters {
        margin-top: 20px !important;
    }
        div.buttonFilters .x-toolbar-footer {
            border: 0px !important;
            background-color:transparent!important;
        }



.x-fieldset-header-default > .x-fieldset-header-text {
    position:static!important;
}