﻿div#userconneting-inputEl {
    color: #fff;
}
.x-form-item-default.x-item-disabled {
opacity:0.8!important;
}
.x-menu-item-default.x-menu-item-disabled {
    display: none !important;
}
/*OVERWRITE ALL BASIC CSS SCHEMA*/
.x-grid-scroll-container {
    z-index: 9999 !important;
}
div.x-grid-body {
    border-width:1px;
}
.x-grid-item-alt.x-grid-item-over, .x-grid-item.x-grid-item-over {
    background-color: #ffefbb !important;
}
.x-grid-item-focused .x-grid-cell-inner:before {
    border: none!important;
}
div.gray-window-title .x-title-text, 
div.gray-window-title .x-title-icon {
    color: #245491 !important;
}
/*.level0 .x-title-text i, .level0 .x-title-text span {
    color: #008cc6 !important;
    font-weight: 500 !important;
}
.level1 .x-title-text i, .level1 .x-title-text span {
    color: #0079ac !important;
    font-weight: 400 !important;
}*/



a.btn-create {
    background-color: #008a4d !important;
    border-color: #008a4d !important;
}
a.btn-danger {
    background-color: #b1211d !important;
    border-color: #b1211d !important;
}
.cdportalloginview #login-body {
    background-image: url("../images/login-bg.png") !important;
}

.cdportalloginview .login-header IMG{
    content: url("../images/logo-cust.png") !important;
}

/*bordo delle finestre in popup*/
.x-window-default {
    border-color: #92909080 !important;
}
.x-window-header-default {
    border-color: #0C2340 !important;
}

.x-window-header-default-top {
    background-color: #0C2340 !important;
}


/*dal login tolgo la scritta collaboration*/
.login-header .title {
    display: none !important;
}
/*logo - logo rialzo*/
div.main-logo img {
    height: 45px;
    margin-top: -4px;
}
/* cambio coloro all'header*/
div.cd-headerbar, div.cd-logo {
    background-color: #0C2340!important;
}

/*le icone delle card devono essere nere*/
span.x-tab-icon-el-default {
    color:black;
    font-size:16px;
}
/* pulsante + di altro colore*/
div.cd-headerbar .main-toolbar.new-button {
    background-color: #F2F1F0;
    width: 150px;
}

    div.cd-headerbar a.main-toolbar.new-button.x-btn-over {
        background-color: #B6B6B6 !important;
        color: #008CC6 !important;
    }

    div.cd-headerbar a.main-toolbar.new-button SPAN {
        color: #24486b;
    }

    div.cd-headerbar a.main-toolbar.new-button.new-button.x-btn-over SPAN {
        font-weight: bold;
    }

    /*PANNELLO TITOLI TABS*/
.content-panel .x-tab-bar {
    background-color: #fff !important;
}

    .content-panel .x-tab-bar .x-tab-default {
        background-color: #F2F1F0 !important;
        border-color: #c5c5c5 !important;
        color: #fff !important;
    }

    .content-panel .x-tab-bar .x-tab-active {
        background-color: #fff !important;
        border-color: #b6b6b6 !important;
        color: #0073a3 !important;
    }

        .content-panel .x-tab-bar .x-tab-active SPAN {
            color: #0073a3 !important;
            font-weight: 500 !important;
        }

.x-tab-icon-el-default {
    color: black !important;
}

/*COLORE STILE TAB DEL CONTENT MENU*/
span.color-tab-panel .x-tab-inner-default {
    color: #000!important;
}

/*PER PREVINIRE QUANDO SI DISABILITA UN PANNELLO CON LEGEND*/
legend .x-mask.x-border-box {
    background-color:transparent!important;
}

div.gray-window-title div.x-panel-header-default,
div.gray-window-title div.x-panel-header-default-framed-top {
    background-color: #efefefc9 !important;
}

div.color-tab-panel div.x-tab-bar {
    background-color: #B6B6B6!important;
}
fieldset.x-fieldset {
    border: 1px solid #407abf !important;
    border-radius: 5px;
}

.x-btn-default-toolbar-small {
    border-color: #ccc!important;
}

.x-keyboard-mode .x-accordion-hd .x-panel-header-title.x-title-focus {
    outline:0px!important;
}

.x-accordion-hd .x-panel-header-title {
    font-family: 'Roboto', sans-serif!important;
}

.middle-stripe .x-box-inner, .left-stripe .x-box-inner {
    background-color:#fff!important;
}

.workflow-wrapper .x-autocontainer-innerCt {
    background-color: #fff !important;
}

div.cd-headerbar > div.x-box-inner {
    width: 100vw!important;
}
.username.logout {
    width: 50px;
    margin-left: 5px !important;
}
.businessdatanotes textarea {
    border-radius:7px!important;
}
.erda.x-form-search-trigger {
    background-color: #274d73!important;
    color: #fff!important;
    border-top-right-radius: 5px!important;
    border-bottom-right-radius: 5px!important;
    cursor:pointer;
}
.pagingToolbarButton .fa-cloud-download-alt {
    color: #008CC6;
}
.pagingToolbarButton.green .fa-cloud-upload-alt {
    color: #008a4d;
}
/*.businessdatafilepanel .fa-download{
    color:#245491;
}
.businessdatafilepanel .fa-trash {
    color: #b1211d;
}
.businessdatafilepanel .fa-folder {
    color: #a5a718;
}
.businessdatafilepanel .fa-server {
    color: #828282;
}
.businessdatafilepanel .fa-ban {
    color: #b1211d;
}
.businessdatafilepanel .fa-arrow-up {
    color: #108b0b;
}
.businessdatafilepanel .fa-arrow-down {
    color: #108b0b;
}*/

