﻿div.policy-win div.policy-content {
    height: 100vh !important;
    background-image: url(../images/policy_back.png);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 180px;
    background-color: #fff;
}

    div.policy-win div.policy-content div {
        background-color: transparent;
    }

    div.policy-win div.policy-content p {
        color: white;
        line-height: 30px;
        text-align: justify;
        padding: 25px;
        font-size: 15px;
        color: #1f4973;
        font-weight: 500;
        padding-top: 170px;
        /* font-style: italic; */
    }

.btn-danger.policy {
    background-color: #008CC6 !important;
    border-color: #008CC6 !important;
}
    .btn-danger.policy:hover {
        background-color: #248a24 !important;
        border-color: #248a24 !important;
    }

div.policy-win div.x-statusbar {
    background-color: #eee;
    border-top: 1px solid #ada7a7 !important;
}

