﻿.configdataform {
}

    .configdataform div.x-panel-default-outer-border-rbl {
        border:0px!important;
    }


div.configdataform.x-panel-default-framed {
    border-left: 0px
}

.configdataform-header > div.x-panel-header {
    border: 0px !important;
    border-left: 1px solid #d0d0d0 !important;
    border-right: 1px solid #d0d0d0 !important;
    padding: 8px 10px 8px 10px !important;
}

    .configdataform-header > div.x-panel-header div.x-tab-bar-body-default {
        height: 41px !important;
        background-color: #f2f2f2!important;
    }
        .configdataform-header > div.x-panel-header div.x-tab-bar-body-default > div.x-box-inner {
           top:4px!important;
        }

        .configdataform-header > div.x-panel-header div.x-tab-bar-body-default div.x-box-target > a {
            /*top: 1px !important;*/
            height: 30px!important;
            width:100px!important;
            text-align:center!important
        }
        .configdataform-header > div.x-panel-header div.x-tab-bar-body-default div.x-box-target > a SPAN{
            top: -3px !important;
        }

            .configdataform-header > div.x-panel-header div.x-tab-bar-body-default div.x-box-target > a.x-tab.x-tab-active {
                /*top: 1px !important;*/
                background-color: #407abf !important;
                color: white !important;

            }
            .configdataform-header > div.x-panel-header div.x-tab-bar-body-default div.x-box-target > a.x-tab.x-tab-active {
                /*top: 1px !important;*/
                background-color: #407abf !important;
            }
            .configdataform-header > div.x-panel-header div.x-tab-bar-body-default div.x-box-target > a.x-tab.x-tab-active span{
                color: white !important;
            }

.roleadmin.basicgrid div.x-docked-bottom {
    border-top: 1px solid #d0d0d0 !important
}

.basicgrid.colext .x-noborder-trl {
    border-top-width:0px!important;
}

.basicgrid.colext .x-column-header {
    color: #245491 !important;
    font-size: 16px !important;
    font-weight: 400 !important;
}
.basicgrid.colext .x-column-header SPAN > robototxt{
    font-family: 'Roboto' !important;
}

.basicgrid.colext > div > div.x-grid-header-ct > div.x-box-inner {
    background-color: #f5f5f5 !important;
    border-bottom: 1px solid #d0d0d0 !important;
    
}
    .basicgrid.colext > div > div.x-grid-header-ct > div.x-box-inner .x-column-header-text {
        padding-top: 5px !important;
        padding-bottom: 3px !important;
        
    }

.basicgrid .x-panel-header-default {
    padding: 4px 10px !important;
     
}

div.accordionpanel > div.x-panel-header-default,
div.accordionpanel > div.x-panel-header-default-framed-top.x-accordion-hd {
    background-color: #f2f1f094 !important;
    border: 1px solid #cacaca!important;
    border-radius: 5px;
    cursor:pointer!important;
}

div.accordionpanel > .x-accordion-hd .x-tool-tool-el {
    background-color: #f2f1f094 !important;
    color: #245491 !important;
}

div.accordionpanel .gray-window-title,
div.accordionpanel div.x-title-text,
div.accordionpanel div.accordionpanel,
div.accordionpanel .gray-window-title,
div.accordionpanel div.x-title-icon {
    color: #245491 !important;
    font-weight: 400 !important;
    font-size:14px!important;
}

.basicgrid.colext.subcolext .x-column-header {
    font-size: 13px !important;
    color: #404040 !important;
    
    background-color: #f5f5f5c7 !important;
}
.basicgrid.colext.subcolext div.x-accordion-layout-ct {
    padding: 1px 1px 0px 1px !important;
    /*margin-top:6px!important;*/
}

    .basicgrid.colext.subcolext div.x-accordion-layout-ct div.x-docked-bottom {
        /*margin-top:15px!important;*/
    }

.grayicon > i {
    color: #898888!important;
}
.projectdeleted {
    color:red!important;
}

/*.basicgrid.colext.subcolext div.x-grid-view {
    height:300px!important;
}
div.x-accordion-item {
    background-color:red!important;
}*/