﻿.easyeditview {
}
	.easyeditview label {
        text-align:right;
    }
    .easyeditview .x-form-item-label-text {
        color: #0c2340;
		font-weight: 400;
        /*font-weight: 500;
        font-style: italic;*/
    }

    .easyeditview .code.pes .x-form-display-field-default {
        color: #0186bc;
        font-weight: 600;
    }
    .easyeditview .code.prp .x-form-display-field-default {
        color: #00425e;
        font-weight: 600;
    }
    .easyeditview .x-form-text-default {
        font-weight:500!important;
    }

    .easyeditview .bottombutton.x-btn-plain-toolbar-small .fa-save {
        color: #008CC6!important;
    }

    .easyeditview .bottombutton.x-btn-plain-toolbar-small .fa-ban {
        color: #d51616!important;
    }
    .easyeditview .x-toolbar-footer {
        background-color: #f5f3f3 !important;
    }

    .easyeditview .x-toolbar-footer .x-btn-plain-toolbar-small {
        background-color: #fff !important;
    }

        .easyeditview .x-toolbar-footer .x-btn-plain-toolbar-small:hover {
            background-color: #f7f7f7 !important;
            border-color: #0186bc !important;
        }


.erda-editing-cell {
    /*background-color: #57a9f1 !important;*/
    /*color: white;*/
    border: 1px solid red;
    font-weight: 600;
    /*font-size: 14px;
    font-style: italic;*/
}

div.spendingcard {
    border:0px!important;
}
.spending.container {
    display: table;
    border: 1px solid red;
}
    /*.spending.container .row.tranche {
    }

        .spending.container .row.tranche .box {
            width: 50px;
            height: 50px;
        }
            .spending.container .row.tranche .box:after {
                content: '\f2b9'!important;
            }*/


.spendingcurvepanel {
    top:-2px;
}
    .spendingcurvepanel div.x-grid-body {
        border:0px!important;
    }

.spending-grid-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom:8px!important;
}

    .spending-grid-table .box {
        /*width: 60px;*/
        height: 50px;
        text-align: center;
        background: #0079ac;
    }
    .spending-grid-table .box a.openOnKey1.rdalinkbutton.x-btn.x-unselectable.x-btn-default-small.x-noicon.x-btn-noicon.x-btn-default-small-noicon.x-border-box {
        margin-top: 3px;
    }

        .spending-grid-table .box a.openOnKey1.rdalinkbutton.x-btn-default-small {
            background-color: transparent;
            border-color: #fff !important;
            color: #fff;
            font-weight: 600;
            border-width: 1.5px !important;
        }
        /*.spending-grid-table .box SPAN {
            margin: 9px 6px;
        }
        .spending-grid-table .box i {
            font-size: 30px;
            color: #fff;
        }*/
        .spending-grid-table .tranchedetail {
            background-color: #d9e9f6;
        }
        .spending-grid-table .tranchedetail SPAN {
            padding-left: 10px;
            font-weight: 500;
            color: #565656;
        }
    .spending-grid-table .tranchestatus {
        background-color: #d9e9f6;
        width: 95px;
        text-align: right;
    }
        .spending-grid-table .tranchestatus SPAN {
            padding-right: 10px;
            font-weight: 500;
            font-style: italic;
            color: #0072c7;
            font-size: 14px;
        }

.atcview div.x-panel-bodyWrap {
    /*margin-top:2px!important;*/
}
    .atcview div.x-panel-bodyWrap > div,
    .atcview div.x-panel-bodyWrap .x-box-inne {
        width: 330px !important;
    }
.atcview input {
    border-radius: 5px !important;
    min-height: 20px;
}


.materialview .x-form-file-wrap .x-form-trigger-wrap {
    width:300px!important;
}
.materialUpload .x-btn-default-small {
    background-color: #008cc6 !important;
    border-radius: 5px;
    border-color: #c7c5c8;
}
.materialUpload .x-btn-over.x-btn-default-small {
    border-color: #c7c5c8;
}


a.x-btn.pagingToolbarButton {
    border-radius: 5px;
    background-color:#fff;
}

    a.x-btn.pagingToolbarButton.btnRefresh {
        border-radius: 5px!important;
    }

    .materialUpload i.fa-file-excel {
        font-size: 14px !important;
        color: #19962f;
    }
.importmatok, .importmatok i {
    color: #03883c !important;
    font-weight: 500;
}

.rdatoolbar a span.fa-coins {
    color: #CFB53B!important;
}

.changecost .x-panel-header-default {
    background-color: #0C2340 !important;
}
.changecost input {
    border-radius:5px!important;
}
.changecost label {
    font-weight:400!important;
    font-style:normal!important;
}
.changecost table {
    width:100%;
}

    .changecost table .tdcontent {
        width: 100%;
    }

/*.changecost .x-toolbar-footer {
    background-color: #f5f3f3 !important;
}

    .changecost .x-toolbar-footer .x-btn-plain-toolbar-small {
        background-color: #fff!important;
    }
        .changecost .x-toolbar-footer .x-btn-plain-toolbar-small:hover {
            background-color: #f7f7f7 !important;
            border-color: #0186bc !important;
        }*/


.toasterror {
    font-weight:600!important;
}
