﻿.worklistview div.x-grid-body {
    border-width: 0px;
    border-bottom-width: 1px;
}

.worklistview div.x-column-header {
    border-bottom: 1px solid #d0d0d0;
}


.worklistview div.x-noborder-trl {
    border-top-width: 0px !important;
}
.worklistview .x-panel-header-default {
    padding: 10px 16px !important;
}
.worklistview .level1 .worklistview div.x-title-text {
    color: #0079ac !important;
}


.column-header-major .x-column-header-inner {
    /*padding-top: 10px !important;
    padding-bottom: px !important;*/
    height: 40px !important;
}
.column-header-major div.x-column-header-checkbox {
    height: 41px !important;
    border-color: #d0d0d0!important;
}



.basicgrid .x-grid-row {
    /*height:42px!important;*/
}
/*.worklistgrid .x-grid-with-row-lines .x-grid-item {
    border-width: 0px !important;
    border-color: #d3d3d3 !important;
    border-bottom-width: 1px !important;
}
.worklistgrid .gridcolname {
    font-weight: 500!important;
    color: #0c2340!important;
}
.worklistgrid .x-grid-td {
    vertical-align:middle!important;
}*/
.worklistview .gridCardList > div.x-panel-header-default {
    border-top: 0px !important;
}
.worklistview div.x-grid-scroll-container {
    /*border-left: 1px solid #d3d3d3 !important;*/
    /*border-right: 1px solid #d3d3d3 !important;*/
}

.subheadermenu div.x-segmented-button {
    padding-right: 10px !important;
}
span.baanError {
    font-weight: 500;
    cursor: help;
    font-style: italic;
}
/*.spendingcurvetable table {
    border: 0px !important;
}

    .spendingcurvetable .cellsn {
       border-bottom:1px solid #d3d3d3 !important;
    }*/




