﻿body {
    font-size: 10pt;
}

#newquestion {
}
    #newquestion div, 
    #showquestion div.inEditing div {
        margin: 0.5em;
        padding: 0.5em;
        border: 1px solid #d6d6d6;
        background-color: #f2f1f0;
        border-radius: 8px;
        -moz-border-radius: 8px;
        -webkit-border-radius: 8px;
        box-shadow: 4px 4px #0c23404a;
    }
    #newquestion p, div.inEditing p {
        font-weight: bold;
        font-size: 12pt;
        margin-top: 0px;
        color: #1861a7;
        height: 10px;
    }



#showquestion {
    overflow: auto !important;
    height: 85vh!important;
}

    #showquestion div {
        margin: 0.5em;
        padding: 0.5em;
        border: 2px solid #8e89898c;
        background-color: #fff;
        border-radius: 8px;
        -moz-border-radius: 8px;
        -webkit-border-radius: 8px;
        /* box-shadow: -4px 4px #d7d7d7; */
    }

    #showquestion p {
        font-weight: bold;
        font-size: 12pt;
        margin-top: 0px;
        color: #0c2340;
        height: 10px;
    }

#showquestion > div.inEditing {
    border: 1px solid #d6d6d6 !important;
    background-color: #f2f1f0 !important;
    border-radius: 8px !important;
    -moz-border-radius: 8px !important;
    -webkit-border-radius: 8px !important;
    box-shadow: 4px 4px #0c23404a !important;
}

    #showquestion > div.inEditing p {
        font-weight: bold !important;
        font-size: 12pt !important;
        color: #1861a7 !important;
        height: 10px !important;
    }


li {
    padding: 0.15em;
    list-style-image: url(images/bullet_orange.png);
    font-size: 11pt;
}

    li:hover {
        cursor: pointer!important;
        background-color: #274d73;
        font-style: italic;
        color: #eee;
        /*z-index: 99999;*/
    }
    li.selected {
        font-weight: 600;
        font-style:italic;
        list-style-image: url(images/bullet_go_2.png);
    }

.TableFA {
    width:100%;
    border-spacing: 0px 5px;
}

    .TableFA .labelFirstColumn {
        text-align: right;
        white-space: nowrap;
        width: 25%;
    }


.imgSaveCA {
    content: url(images/save.png);
    cursor: pointer !important;
}
.imgEditCA {
    content: url(images/edit.png);
    cursor: pointer !important;
}
.imgCalendar {
    content: url(images/calendar.png);
    margin-top: -6px!important;
    cursor:pointer!important;
}
.imgEuro {
    content: url(images/euro.png);
}
.imgDollar {
    content: url(images/dollar.png);
}
.imgDefault {
    content: url(images/default.png);
}
.panelProgressBar {
    height: 32px !important;
    top: 2px !important;
}
    .panelProgressBar .x-panel-body {
        height: 32px !important;
    }

.dialogProgressBar {
    width: calc(70vw - 240px) !important;
    height: 32px !important;
    background-color: transparent!important;
}
    .dialogProgressBar .x-progress-default {
        background-color:transparent!important;
    }

    .dialogProgressBar .x-progress-text {
        line-height: 32px !important;
        text-align: left;
    }
        .dialogProgressBar .x-progress-text .txtProgress {
            margin-left: 10px !important;
            color: #274d73 !important;
            font-weight: 400;
            font-size: 11pt;
        }
        .dialogProgressBar .x-progress-text .txtProgressAction {
            margin-left: 10px !important;
            font-weight: 500;
            font-style:italic;
            font-size: 11pt;
        }



input[type="radio"] {
    outline: none;
    border-right: navy 1px solid;
    border-top: navy 1px solid;
    font-size: 8pt;
    border-left: navy 1px solid;
    color: green;
    border-bottom: navy 1px solid;
    font-family: verdana, arial, helvetica, sans-serif;
    text-decoration: none;
    border: 0;
}

.ui-widget-content.ui-widget {
    border: 1px solid #666666;
}

.ui-widget.ui-widget-content {
    color: black;
    font-size: 9pt;
    background-color: white !important;
    max-width:30vw;
    
}

.custom-combobox {
    display: inline-block;
    width:calc(100% - 30px);
}

.custom-combobox-toggle {
    position: relative;
    top: 0;
    bottom: 0;
    margin-left: -1px;
    padding: 0;
    height: 25px;
    margin-top: -2px;
}

.custom-combobox-input {
    margin: 0;
    padding: 3px;
    background-color: #fff;
    width: calc(100% - 30px)!important;
    height: 25px;
}

.inputred {
    background-color: red !important;
}
.liTB {
    width: 95%;
}

    .liTB .icon-help-img {
        width: 12px;
        height: 12px;
    }

    .liTB .td-icon-help {
        width: 10%;
        vertical-align: bottom;
    }
    .liTB TD {
        width: 100%;
    }


div.x-statusbar {
    background-color: #eee;
    border-top: 1px solid #ada7a7 !important;
}


    div.x-statusbar .x-status-busy {
        background-image: url(images/loading.gif);
        color: #0c2340 !important;
        font-weight: 500 !important;
        background-size: 19px;
        background-position-y: 0px;
        height: 30px;
        margin-top: 7px !important;
    }

.btn-create.btn-w-text .x-btn-inner-default-toolbar-small {
    color: #fff!important;
}
select {
    width: 85%;
}
input[type=text] {
    width: 85%;
}
.txtDate, .txtBool, .txtCurrency, .txtNumber {
    width: 170px!important;
}
.ui-autocomplete {
    max-height: 350px;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 99999;
}

#ui-id-1 {
    max-height: 350px;
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 20px;
}

.ui-menu-item {
    max-height: 350px;
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 20px;
}

.lblError {
    font-family: 'Courier New';
    font-size: 8pt;
    font-style: normal;
    font-weight: bold;
    color: #FF0000;
}
#Supplieranchor {
    display:none!important;
}
.len100 {
    border: 1px solid #666;
    border-radius: 5px;
    padding: 3px;
}

.len200 {
    border: 1px solid #666;
    border-radius: 5px;
    padding: 3px;
    width: 80%;
}

.len300 {
    border: 1px solid #666;
    border-radius: 5px;
    padding: 3px;
    width: 90%;
    height: 80px;
}
select:disabled, input:disabled {
    background-color: #e2e1e1 !important;
}


#newquestion div.dialogAttach, 
#newquestion div.dialogAttach div {
    margin: 0px !important;
    border: 0px !important;
    border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    -webkit-border-radius: 0px !important;
    box-shadow: none !important;
}

    #newquestion div.dialogAttach .x-btn-default-small {
        background-color: #274d73 !important
    }


    #newquestion div.dialogAttach div.extattachment {
        width:85%!important;
    }
        #newquestion div.dialogAttach div.extattachment input {
            width: 100% !important;
        }


#newquestion div.dialogSSAttach,
#newquestion div.dialogSSAttach div {
    margin: 0px !important;
    border: 0px !important;
    border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    -webkit-border-radius: 0px !important;
    box-shadow: none !important;
}

    #newquestion div.dialogSSAttach .x-btn-default-small {
        background-color: #274d73 !important
    }


    #newquestion div.dialogSSAttach div.extattachment {
        width: 85% !important;
    }

        #newquestion div.dialogSSAttach div.extattachment input {
            width: 100% !important;
        }



#newquestion div.frameSpendingCurve,
#showquestion div.frameSpendingCurve {
    padding: 10px !important;
    height: auto !important;
    border: 1px solid red !important;
}
    #newquestion div.frameSpendingCurve,
    #newquestion div.frameSpendingCurve div,
    #showquestion div.frameSpendingCurve,
    #showquestion div.frameSpendingCurve div {
        margin: 0px !important;
        border: 0px !important;
        border-radius: 0px !important;
        -moz-border-radius: 0px !important;
        -webkit-border-radius: 0px !important;
        box-shadow: none !important;
        padding: 0px;
    }


        #newquestion div.frameSpendingCurve div .scHeader,
        #showquestion div.frameSpendingCurve div .scHeader {
            font-weight: 500;
            padding-bottom: 5px;
        }

        #newquestion div.frameSpendingCurve div input,
        #showquestion div.frameSpendingCurve div input {
            width: 100%;
        }
        #newquestion div.frameSpendingCurve div .newTrancheLabel,
        #showquestion div.frameSpendingCurve div .newTrancheLabel {
            margin-top: 7px;
            color: #008CC6;
        }
        #newquestion div.frameSpendingCurve div .btnAdd,
        #showquestion div.frameSpendingCurve div .btnAdd {
            width: 40px !important;
            top: 7px !important;
        }
            #newquestion div.frameSpendingCurve div .btnAdd i,
            #showquestion div.frameSpendingCurve div .btnAdd i {
                color: #008a4d;
                font-size: 16px;
                width: 30px;
                cursor: pointer;
            }

        #newquestion div.frameSpendingCurve div .scRowMaster,
        #showquestion div.frameSpendingCurve div .scRowMaster {
            padding-bottom: 5px;
            border-bottom: 1px solid #B6B6B6 !important;
        }
        #newquestion div.frameSpendingCurve div .btnAdd i.fa-plus-circle-disabled,
        #showquestion div.frameSpendingCurve div .btnAdd i.fa-plus-circle-disabled {
            color: #666666 !important;
            cursor: default !important;
        }
        #newquestion div.frameSpendingCurve div #rt_1,
        #showquestion div.frameSpendingCurve div #rt_1 {
            padding-top: 15px;
        }
        #newquestion div.frameSpendingCurve div .scRowTranche,
        #showquestion div.frameSpendingCurve div .scRowTranche {
            padding-top: 5px;
        }
            #newquestion div.frameSpendingCurve div .scRowTranche .fa-trash-alt,
            #showquestion div.frameSpendingCurve div .scRowTranche .fa-trash-alt {
                color: #b1211d !important;
            }

.frameSpendingCurve .x-form-item-default.x-item-disabled {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)!important";
    opacity: 0.7!important;
}



#showquestion div.dialogAttach,
#showquestion div.dialogAttach div {
    margin: 0px !important;
    border: 0px !important;
    border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    -webkit-border-radius: 0px !important;
    box-shadow: none !important;
}

    #showquestion div.dialogAttach .x-btn-default-small {
        background-color: #274d73 !important
    }


    #showquestion div.dialogAttach div.extattachment {
        width: 85% !important;
    }

        #showquestion div.dialogAttach div.extattachment input {
            width: 100% !important;
        }


#showquestion div.dialogSSAttach,
#showquestion div.dialogSSAttach div {
    margin: 0px !important;
    border: 0px !important;
    border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    -webkit-border-radius: 0px !important;
    box-shadow: none !important;
}

    #showquestion div.dialogSSAttach .x-btn-default-small {
        background-color: #274d73 !important
    }


    #showquestion div.dialogSSAttach div.extattachment {
        width: 85% !important;
    }

        #showquestion div.dialogSSAttach div.extattachment input {
            width: 100% !important;
        }

div #locationListBox {
    background-color:#fff!important;
}


/*.panelProgressBar {
    
}
    .panelProgressBar > * {
        width: 100% !important;
    }*/
        /*html, body, form {
    overflow-y: hidden !important;
}

#container {
    height: 85vh !important;
}
.container {
    border: 1px solid #ccc;
    background-color: #f2f1f0;
    padding: 0.5em;
    margin-top: 1em;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    
}

#question {
    margin: 0.3em 0 0.3em;
    font-size: small;
}

.answers {
    width: 100%;
}




.liMultiple {
    padding: 0.2em;
    list-style-image: url(images/check_off.png);
    font-size: 8pt;
}


.liProcessed {
    padding: 0.15em;
    list-style-image: url(images/bullet_orange_2.png);
    font-size: 10pt;
}

.liProcessedMultiple {
    padding: 0.2em;
    list-style-image: url(images/check_off.png);
    font-size: 8pt;
}

.ulCP {
    margin: 0px 0px 0px 10px;
    padding: 0;
}

.liCP {
    padding: 0.2em;
    list-style-image: url(images/feature.png);
    font-size: 8pt;
    font-style: italic;
    font-weight: bold;
}

.liErrorCP {
    padding: 0.2em;
    list-style-image: url(images/warning.png);
    font-size: 9pt;
    font-style: italic;
    font-weight: bold;
    color: Red;
}

.pProcessed {
    font-weight: bold;
    margin-top: 0px;
    font-size: 11pt;
}

li:hover {
    cursor: pointer;
    background-color: #006;
    color: #eee;
}

#showquestion {
}
    #showquestion p {
        font-weight: bold;
        margin-top: 0px;
    }

    #showquestion div {
        width: 90%;
        margin: 0.5em;
        padding: 0.5em;
        border: 1px solid #aaa;
        background-color: #e1e1e1;
        -moz-border-radius: 6px;
        -webkit-border-radius: 6px;
    }



.TableFA {
    width:100%;
    font-size:11pt;
}

.TableFA TR{
    padding-bottom: 0.15em;
}

    .TableFA TR:nth-child(0) {
        text-align: right;
    }

.selected {
    font-weight: bold;
    list-style-image: url(images/bullet_go_2.png);
    font-size: 10pt;
}

.selectedMultiple {
    font-weight: bold;
    list-style-image: url(images/check_on.png);
    font-size: 8pt;
}



.luiTitle {
    font-weight: bold;
    font-size: 11pt;
    border: 1px solid #aa9;
    background-color: #0c2340;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    color: white;
}

.luiTitle {
    height: 24px;
}

    .luiTitle label {
        margin-top: -4px;
        float: left;
    }

.luiTitleProcessed {
    font-size: 10pt;
    text-shadow: #888 1px 1px 1px;
    border: 1px solid #aa9;
    background-color: #D6DED4;
    padding: 0.2em;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.topbar {
    display: block;
    width: 100%;
    height: 300px;
    overflow-x: hidden;
    overflow-y: scroll;
}


.footer {
}


.summary {
    width: 100%;
    font-size: 12pt;
}




.scroll_checkboxes {
    padding: 5px;
    overflow: auto;
    border: 1px solid #ccc;
}

input {
    border: 1px solid #666;
    border-radius: 5px;
    padding: 3px;
   
}

.len100 {
    border: 1px solid #666;
    border-radius: 5px;
    padding: 3px;
}

.len200 {
    border: 1px solid #666;
    border-radius: 5px;
    padding: 3px;
    width: 80%;
}

.len300 {
    border: 1px solid #666;
    border-radius: 5px;
    padding: 3px;
    width: 90%;
    height: 80px;
}

input:hover, input:focus {
    border: 1px solid #07c;
    box-shadow: 0 0 5px #07c;
    outline: none;
}

input[type="checkbox"] {
   color: Navy;
    border-style: none;
}

#newquestion {
    overflow: auto;
}

#btnSaveDialog {
    float: right;
    margin-right: 10px;
    margin-top: 1px;
}

    #btnSaveDialog IMG {
        margin-top: -1px;
        float: left;
    }




input[type="radio"] {
    outline: none;
    border-right: navy 1px solid;
    border-top: navy 1px solid;
    font-size: 8pt;
    border-left: navy 1px solid;
    color: green;
    border-bottom: navy 1px solid;
    font-family: verdana, arial, helvetica, sans-serif;
    text-decoration: none;
    border: 0;
}





.locationContainer {
    border: 1px solid grey;
    width: 80%;
    height: 200px;
    overflow-y: auto;
    background: white;
}

.col-sm-12 {
    width: 95%;
    float: left;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.4285;
    color: #333;
    background-color: #fff;
}

#table {
    width: 100%;
}

.bakc HTML, .bakc body, .bakc form {
    background-color: #e8e8ff !important;
}

.table .table-hover .table100 {
    width: 100% !important;
}

.disabledbutton {
    pointer-events: none;
    opacity: 0.4;
}


*/
